# Ignore the build and lib dirs
build
lib/*
include/SDL2 #used for autocomplete

# Ignore any executables
bin/*
*.bin

# Ignore log files
*.log

# Random files used during development for various purposes
tetris_rom.txt
